@model IEnumerable<DataManager.Models.Sponsor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponsorLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacebookProfileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkedInUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoothLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SponsorLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacebookProfileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkedInUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoothLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
